body{
    background:pink;
    color:#333;
    width:100%;
    font-family:sans-serif;
    margin:0 auto;
}

.header{
    width:90%;
    margin:auto;
    height:120px;
    line-height:120px;
    background:#333;
    color:#fff
}

.jarak{
    padding:0 2pc;
}

.menu{
     background-color:#333;
     height:50px;
     line-height:50px;
     position:relative;
     width:90%;
     margin:0 auto;
     padding:0 auto;
 }

.menu ul {
    list-style:none;
}

.menu ul li a {
    float:left;
    width:70px;
    display:block;
    text-align:center;
    color:#FFF;
    text-decoration:none;
}

.menu ul li a:hover {
    background-color:#FFFFFF;
    display:block;
}





